h1 {
  background-color: red;
  text-align: center;
}

body{
  background-color: green;
}

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
